*{
    box-sizing: border-box;
}
.navbar{
    font-family: monospace;
    display: flex;
    background-color: #282b30;
    justify-content: space-between;
    padding: 0 5rem;
}
.logo-image{
    margin-top: 0.8rem;
}
.title{
    font-size: 2rem;
    margin: 0 0;
    padding: 14px 0;
}
.contactlinks{
    margin-left: 2rem;
    margin-top: 1.3rem;
}
.navbar ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 1.1rem 0;
}
.logo{
    display: flex;
}
.navbar li.active{
    background-color: grey;
}
.link:hover{
    color: white;
    background-color: grey;
}
.contact li{
    list-style: none;
}
.links{
    margin: 0 0;
    padding: 0 0;
    font-size: 20px;
}
.link{
    border-radius: 45px;
    
    border-color: white;
    border-width: 0.18rem;
    border-style: none;
    height: 49px;
    line-height: 42px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
    color: white;
    text-decoration: none;
}
.hamburger{
    position: absolute;
    top: 100%;
    bottom: 100%;
    height: 0;
    width: 0;
}
@media screen and (max-width: 800px) {
    .navbar{  
        height: 100px;
    }
    .hamburger{
        height: 50px;
        width: 50px;
    }
    .navbar hamburger:checked{
        height: 100%;
    }
    .title{
        font-size: 1.5rem;
    }
}